.contact-section {
  min-height: 100vh;
  padding: 100px 20px;
   background:rgb(73, 73, 86);

  text-align: center;
}

.contact-section h2 {
  font-size: 36px;
  color: #00bcd4;
  margin-bottom: 50px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: flex-start;
}

/* Form Styling */
.contact-form {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 10px #00bcd4;
}

.btn-send {
  padding: 12px 25px;
  background: linear-gradient(to right, #00bcd4, #00e5ff);
  color: #111;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-send:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,188,212,0.4);
}

/* Social Icons */
.contact-social {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.contact-social a {
  color: #00bcd4;
  transition: all 0.3s ease;
}

.contact-social a:hover {
  color: #00e5ff;
  transform: scale(1.2);
}

/* Responsive */
@media(max-width: 900px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }
  .contact-social {
    flex-direction: row;
  }
}
